# For loops

In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [5]:
for num in l:
    print('Something')

Something
Something
Something
Something
Something

In [6]:
#modulo

In [7]:
10 % 3

1

In [8]:
18 % 7

4

In [9]:
4 % 2

0

In [10]:
l

[1, 2, 3, 4, 5]

In [14]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number!')

Odd number!
2
Odd number!
4
Odd number!

In [15]:
l

[1, 2, 3, 4, 5]

In [17]:
lis_num = 0

for num in l:
    lis_num += num

print(lis_num)

15

In [18]:
s = 'this is a string!'

In [20]:
for letter in s:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [21]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [22]:
l = [(2,4),(6,8),(10,12)]

In [25]:
l[0][0]

2

In [27]:
for i in l:
    print(i)

(2, 4)
(6, 8)
(10, 12)

In [30]:
for (a,b) in l:
    print(a)
    print(b)

2
4
6
8
10
12

In [31]:
d = {'k1':1,'k2':2,'k3':3}

In [32]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [34]:
for key,value in d.items():
    print(key, value)

k2 2
k3 3
k1 1